<h1>Enter a word to scrabble score!</h1>
<form action="/page">
  <div class="form-group">
     <label for="word">What would you like score in scrabble?
</label>
     <input id="word" name="word" class="form-control" type="text">
  </div>
  <button type="submit" class="btn-success">Submit</button>
</form>
